<main class="main">
  <div class="container mt-5">
    <!-- Si le produit est disponible -->
    <div *ngIf="product" class="card shadow-sm">
      <img
        [src]="'assets/images/' + product.imagePath" 
        class="card-img-top"
        alt="{{ product.libelle || 'Image non disponible' }}"
      />
      <div class="card-body">
        <h5 class="card-title text-primary">{{ product.libelle }}</h5>
        <p class="card-text">
          <strong>Description:</strong> {{ product.description || 'Non spécifiée' }}
        </p>
        <p class="card-text">
          <strong>Prix:</strong> {{ product.prix | currency: 'TND' }}
        </p>
        <p class="card-text">
          <strong>Quantité en stock:</strong> {{ product.qteStock || 'Non spécifiée' }}
        </p>
        <button class="btn btn-secondary" [routerLink]="['/']">
          Retour
        </button>
      </div>
    </div>

    <!-- Si le produit est introuvable -->
    <div *ngIf="!product" class="alert alert-danger mt-3">
      Produit introuvable !
    </div>

    
  </div>
</main>
